@import 'reset.scss';
@import 'typography.scss';
@import 'mixins.scss';
@import 'layout.scss';
@import 'responsive.scss';

ul{
  list-style-type:none;
  list-style-image: url('../images/dotOverlay.png');
  list-style-position: outside;
  margin: 25px;
  li{
    margin: 0 0 0 25px;
  }
}